.absence-info-container {
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.absence-info-text {
  font-size: 0.7em;
  color: #808080;
}

.absence-info-vacations {
  font-size: 1em;
  color: #484848;
}

.absence-info-absences {
  font-size: 0.7em;
  color: #808080;
}

@media only screen and (max-width: 500px) {
  .absence-info-text {
    font-size: 0.5em;
  }
  .absence-info-vacations {
    font-size: 0.7em;
  }
  .absence-info-absences {
    font-size: 0.6em;
  }
}
